<h1><%= @user.username %></h1>

<p>Private: <%= @user.private %></p>

<p>Followers: <%= @follower_count %></p>
<p>Following: <%= @following_count %></p>

<p>Total Photos: (<%= @photos.count %>)</p>

<% if current_user == @user %>
  <h2>Pending Follow Requests</h2>
  <% @pending_requests.each do |req| %>
    <p>
      <%= req.sender.username %>
      <%= button_to "Accept", accept_follow_request_path(req), method: :post %>
      <%= button_to "Reject", reject_follow_request_path(req), method: :post %>
    </p>
  <% end %>
<% end %>

<% if current_user != @user %>
  <% if @follow_request.nil? %>
    <%= form_with model: FollowRequest.new, local: true do |form| %>
      <%= form.hidden_field :recipient_id, value: @user.id %>
      <%= form.submit "Follow" %>
    <% end %>
  <% elsif @follow_request.status == "accepted" %>
    <%= link_to "Unfollow", follow_request_path(@follow_request), method: :delete %>
  <% elsif @follow_request.status == "pending" %>
    <p>Request sent | <%= link_to "Cancel", follow_request_path(@follow_request), method: :delete %></p>
  <% end %>
<% end %>

<p><%= link_to "Feed", user_feed_path(@user.username) %></p>
<p><%= link_to "Liked photos", user_liked_photos_path(@user.username) %></p>
<p><%= link_to "Discover", user_discover_path(@user.username) %></p>

<h2>Photos</h2>
<% @photos.each do |photo| %>
  <div>
    <img src="<%= photo.image %>" alt="Photo" style="max-height: 200px;">
    <p><%= photo.caption %></p>
    <p><%= time_ago_in_words(photo.created_at) %> ago</p>
    <p>Likes: <%= photo.likes.count %></p>
    <%= link_to "Show details", photo_path(photo) %>
  </div>
<% end %>
