<p style="color: green"><%= notice %></p>

<h1>Photos</h1>

<div id="photos">
  <% @photos.each do |photo| %>
  <div style="margin-bottom: 20px;">
    <% if photo.image.present? %>
      <%= image_tag photo.image.url %>
    <% end %>
    <p>
      <%= photo.caption %>
    </p>
    <p>
      <%= link_to "Show this photo", photo %>
    </p>
  </div>
<% end %>
</div>

<%= link_to "New photo", new_photo_path %>
