<%= form_with model: @photo, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <%= form.submit "Add Photo" %>
<% end %>
