<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>

<% if alert %>
  <p style="color: red;"><%= alert %></p>
<% end %>

<h1>Photo Details</h1>

<%= render @photo %>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<h2>Comments</h2>

<% @photo.comments.each do |comment| %>
  <p>
    <strong><%= comment.author.username %>:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h3>New Comment</h3>

<%= form_with model: Comment.new, local: true do |form| %>
  <%= form.hidden_field :photo_id, value: @photo.id %>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <%= form.submit "Post comment" %>
<% end %>

<h3>Likes</h3>

<% if current_user.likes.exists?(photo_id: @photo.id) %>
  <% like = current_user.likes.find_by(photo_id: @photo.id) %>
  <%= link_to "Unlike", like_path(like), method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= form_with model: Like.new, local: true do |form| %>
    <%= form.hidden_field :photo_id, value: @photo.id %>
    <%= form.submit "Like" %>
  <% end %>
<% end %>

<p><strong>Total Likes:</strong> <%= @photo.likes.count %></p>
