<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Feed", feed_path %> |
      <%= link_to "Discovery", discover_path %> |
      <%= link_to "All public photos", photos_path %> |
      <%= link_to "All users", users_path %>

      <% if user_signed_in? %>
        | <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% else %>
        | <%= link_to "Sign in", new_user_session_path %>
        | <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>

   <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div id="flash_<%= name %>" style="color: <%= name == 'notice' ? 'green' : 'red' %>;">
      <%= msg %>
    </div>
  <% end %>
<% end %>

    <%= yield %>
  </body>
</html>
